body {

background-color: #4aaaa5;
color: #777777;
font-family: Arial, Helvetica, sans-serif;
width:1200px;
border: #777777;
margin-left: 20px;

}

.container {

background-color: white;
color: black;





}

@mobile screen


